@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Slab:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --primary-color: #333; /* default primary color */
  --secondary-color: #666; /* default secondary color */
  --background-color: #fff; /* default background color */
  --text-color: #333; /* default text color */
  --focus-color: #007bff;
}

body[data-theme="dark"] {
  --primary-color: #fff; /* dark theme primary color */
  --secondary-color: #aaa; /* dark theme secondary color */
  --background-color: #101010; /* dark theme background color */
  --text-color: #fff; /* dark theme text color */
  --focus-color: rgb(253 186 116); /* dark theme focus color */
  --border-color: #333; /* dark theme border color */
  --hover-color: #252525; /* dark theme hover color */
}

body[data-theme="light"] {
  --primary-color: #333; /* light theme primary color */
  --secondary-color: #666; /* light theme secondary color */
  --background-color: #fff; /* light theme background color */
  --text-color: #333; /* light theme text color */
  --focus-color: #007bff; /* light theme focus color */
  --border-color: #ddd; /* light theme border color */
  --hover-color: #f5f5f5; /* light theme hover color */
}

body{
  background-color: var(--background-color);
  color: var(--text-color);
}



/* navbar */
.search{
  background-image:url(/ic--round-search.svg) ;
  background-repeat: no-repeat;
  background-position-x: 320px;
  background-position-y: 5px;
  padding-right: 28px !important;
}